body {
    margin: 0;
}

.contain {
    color: white;
    background-color: #537179;
}

.header-container {
    position: sticky;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    
}

.navbar {
    display: flex;
    gap: 10px;
}

a.linke {
    text-decoration: none;
    /* padding: 15px 10px; */
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 5px;
    height: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

a.linke:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.15);
}

a.linke.started {
    background-color: black;
    /* padding: 15px 25px; */
    /* padding-top: 10px; */
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-radius: 5px;
    height: 20px;
    text-decoration: none;
}

a.linke.started:hover {
    opacity: 0.6;
}

.logoo {
    padding: 15px 10px;
    width: 50px;
}

span.scrib {
    font-size: 39px;
    font-family: Ink free;
}

.home-container {
    padding: 100px 50px;
    text-align: center;
    /* background: radial-gradient(white, grey); */
    /* background: radial-gradient(grey, white); */
    /* background-color: grey; */
    height: 51.2vh;
}

.up {
    font-size: 80px;
    line-height: 0px;
}

span.aside {
    font-family: Ink free;
    
}

.tagline {
    line-height: 0px;
    font-size: 25px;
}

.main2 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

