.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    background-color: #537179;
}

form.form-g {
    background-color: rgba(66, 88, 94, 0.6);
    border-radius: 20px;
    padding: 30px 50px;
    max-width: 330px;
    margin-top: 15px;
    height: 300px
}

input.otp-input {
    width: 85%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    box-shadow: none;
    color: white;
    height: 39px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
}

input::placeholder {
    color: white;
}


.reset-button {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: black;
    padding: 15px 25px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    color: white;
    width: 97%;
    font-family: 'Poppins', sans-serif;
}

.reset-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

p.dont {
    margin-top: 0px;
    margin-bottom: 30px;
}

h2.reset {
    margin-bottom: 40px;
}
